header.header.header--error
    a.header__logo.header__logo--404.logo(href='/')
        img(src='img/icons/logo.svg' alt='логотип Тайпотеки')
    a.header__registration(href='/register') Регистрация
    a.header__enter(href='/login') Вход с паролем
    a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')