extends ../layouts/layout.pug

block header
  header.header
    a.header__logo.logo(href='#')
      img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name Типотека
    button.button.button--colored.header__button-new Новая запись
    .header__dropdown
      a.button.button--burger.header__burger(href='#') Открыть меню
      include ../includes/navigation
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')

block content
  main
    section.search-page
      .search-page__wrapper
        h1 Поиск
        .search.search-page__form
          form(action='#' method='get')
            label
              input(type='text' placeholder='Что ищем?')
            button.search__button.button.button--transparent(type='submit') Найти

block footer
    include ../includes/footer
