extends ../layouts/layout.pug

block header
    include ../includes/guest-header

block content
    include ../includes/registration-form

block footer
    include ../includes/footer

block scripts  
    script(src='js/main.js')